<nav class="navbar navbar-dark fixed-top nav-cont">
  <div class="container-fluid align-items-center">
    <% if current_page?(root_path) || current_page?(groups_path) %>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% else %>
      <%= link_to groups_path, class: "back-button" do%>
        <span><img src='https://img.icons8.com/ios-glyphs/24/ffffff/back.png'/></span>
      <% end %>
    <% end %>
    <h4>
    <a class="navbar-brand align-items-center" href="#">Transactor</a>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Transactor app</h5>
        <button type="button" class="button-close" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
      </div>
      <div class="offcanvas-body justify-content-center d-flex flex-column">
        <ul class="navbar-nav justify-content-evenly align-items-center flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Groups", groups_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
   
  