<div class="group-index-container contanier">
  <div class="group-container d-flex flex-column justify-content-between">
    <div class="group-cards text-center">
      <%if @groups.empty? %>
      <h2 class="fw-bold mt-5 display-3">There are no groups</h2>
      <p class="mt-3 display-7">Please add a group with the button bellow</p>
      <%else%>
        <% @groups.each do |group|%>
          <%= link_to group_path(group.id) do%>
            <%= render "_partials/cards/group", group: group %>
          <%end%>
        <%end%>
      <%end%>
      <%= render partial: '_partials/errors/errors' %>
    </div>
    <%= render partial: "_partials/navigations/new_item_button", locals: { label: "Add New Group", new_path: new_group_path } %>
  </div>
</div>